html
head
title File uploads
body
form(action="localhost:4300/getFace" method="POST" enctype="multipart/form-data")
div
input(type="text" name="mobile" placeholder="Name")
div
input(type="file" name="file")
div
input(type="submit")
